@charset 'utf-8';

@import url(./common/reset.css);
@import url(./common/header.css);
@import url(./common/footer.css);
@import url(index_con/sec1.css);
@import url(index_con/sec2.css);
@import url(index_con/sec3.css);
@import url(index_con/sec4.css);
@import url(index_con/sec5.css);
@import url(index_con/sec6.css);
@import url(index_con/sec7.css);
@import url(index_con/sec8.css);

#wrap {
  width: 100%;
  margin: 0 auto;
  height: auto;
  font-size: 14px;
}

.index-container {
  width: 100%;
  height: auto;
}
.index-container .inner-indexCon {
  width: 100%;
  height: auto;
}

.index-container .inner-indexCon .sections {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.index-container .inner-indexCon .sections .section {
  width: 100%;
  max-width: 1020px;
  height: auto;
}

span.arrowUp {
  width: 100%;
  max-width: 50px;
  position: fixed;
  bottom: 30px;
  right: 15%;
  z-index: 999;
  cursor: pointer;
  transform: translate(0, 0);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
span.arrowUp:hover {
  transform: translate(0, -10px);
}

/* 반응형 디자인 */
/* tablet 768
mobile 360 */

@media only screen and (max-width: 768px) {
  #wrap {
    width: 98%;
    font-size: 14px;
  }

  span.arrowUp {
    width: 98%;
    right: 0;
  }
}

@media only screen and (max-width: 360px) {
  #wrap {
    width: 98%;
    font-size: 12px;
  }

  span.arrowUp {
    width: 98%;
    right: 0;
  }
}
