@import url(common/reset.css);

.header {
  width: 100%;
  height: auto;
  margin: 50px 0;
}

.header .inner-header {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header .inner-header .language-box {
  width: 100%;
  height: auto;
  text-align: end;
  padding: 10px 0;
}

.header .inner-header .language-box #language {
  width: 100%;
  max-width: 120px;
  height: 30px;
  border-radius: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 2px solid var(--sub-point2);
  /* browser */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/common_img/select_arrow.png) no-repeat 100%;
  background-size: 40px;
}

.header .inner-header .language-box #language:focus {
  outline: none;
}

.header .inner-header h1.logo {
  width: 100%;
  max-width: 140px;
  height: auto;
  margin: 0 auto;
}

/* container  */

.login-container {
  width: 100%;
  height: auto;
}

.login-container .login-inner-con {
  width: 100%;
  height: auto;
}

.login-container .login-inner-con .sections {
  width: 100%;
  max-width: 600px;
  height: auto;
  /* border: 1px solid var(--sub); */
  margin: 0 auto;
  border-radius: 10px;
}

.login-container .login-inner-con .sections .section.sec1 {
  width: 100%;
  height: auto;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container {
  width: 100%;
  height: auto;
  border: 1px solid var(--sub-point2);
  border-radius: 10px;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-menu {
  width: 100%;
  height: auto;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-menu > ul {
  display: flex;
  justify-content: space-between;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-menu > ul > li {
  flex: 1;
  height: auto;
  line-height: 80px;
  border-bottom: none;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border-right: 1px solid var(--sub-point2);
  border-radius: 5px;
  transition: color 0.3s;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-menu > ul > li.tab3 {
  border-right: none;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-menu > ul > li:hover {
  color: var(--point);
}

/* tab-con */
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents {
  width: 100%;
  height: auto;
  padding: 30px 40px;
  box-sizing: border-box;
  border-top: none;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul {
  width: 100%;
  max-width: 600px;
  height: 350px;
  position: relative;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li {
  width: 100%;
  height: 350px;
  position: absolute;
  background-color: #fff;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 {
  width: 100%;
  height: auto;
}

/* tab1 */
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con {
  width: 100%;
  height: auto;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--sub-point2);
  box-sizing: border-box;
  border-radius: 10px;
}

/* id */
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .id-box {
  flex: 1;
  border-bottom: 2px solid var(--sub-point2);
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .id-box > span.icon {
  width: 100%;
  max-width: 22px;
  height: auto;
  padding-left: 30px;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .id-box > input {
  width: 90%;
  height: auto;
  border: none;
  box-sizing: border-box;
  margin: 0 20px;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .id-box > input:focus {
  outline: 1px solid var(--sub-point2);
}

/* pw */
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .pw-box {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .pw-box span.icon {
  width: 100%;
  max-width: 22px;
  height: auto;
  padding-left: 30px;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .pw-box > input {
  width: 90%;
  height: auto;
  border: none;
  box-sizing: border-box;
  margin: 0 20px;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .pw-box > input:focus {
  outline: 1px solid var(--sub-point2);
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .keep-box {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .keep-box input[type='checkbox'] {
  display: none;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .keep-box input[type='checkbox'] + label {
  display: inline-block;
  background: url(../img/common_img/login_checked_icon_sub_point_color.svg) no-repeat 50% / cover;
  width: 25px;
  height: 25px;
  border: 2px solid;
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  color: var(--sub-point2);
  transition: background 0.3s, background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .keep-box input[type='checkbox']:checked + label {
  background: url(../img/common_img/login_checked_icon_point_color.svg) no-repeat 50% / cover;
  background-color: var(--point);
  border: 2px solid #fff;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .keep-box > p {
  line-height: 25px;
  padding-left: 10px;
  box-sizing: border-box;
}

/* ipBox */

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box input[type='checkbox'] {
  display: none;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box input[type='checkbox'] + label {
  width: 50px;
  height: 25px;
  border: 1px solid var(--sub-point2);
  box-sizing: border-box;
  background-color: var(--sub-point2);
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  cursor: pointer;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box input[type='checkbox'] + label::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px 0;
  transition: left 0.3s;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box input[type='checkbox']:checked + label::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--point);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 26px;
  margin: 2px 0;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box > p {
  line-height: 25px;
  padding-right: 10px;
  box-sizing: border-box;
}

/* submit */

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .submit-box {
  padding-top: 30px;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .submit-box > input[type='submit'] {
  width: 100%;
  height: 80px;
  font-weight: 800;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--main);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.3s;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .submit-box > input[type='submit']:hover {
  background: rgb(15, 147, 237);
  background: linear-gradient(90deg, rgba(15, 147, 237, 1) 0%, rgba(105, 135, 231, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* tab2 */

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 {
  width: 100%;
  height: auto;
  text-align: center;
  display: none;
  padding: 20px 0;
  border-radius: 10px;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login > p {
  padding: 30px;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login > p > span {
  color: var(--point);
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 15px;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box > input[type='number'] {
  text-align: center;
  width: 100%;
  height: 80px;
  font-weight: 800;
  background-color: #fff;
  font-size: 16px;
  border: 1px solid var(--sub-point2);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -moz-appearance: textfield;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box > input[type='number']:focus {
  outline: 1px solid var(--point);
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box > input[type='number']::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .submit-box {
  width: 100%;
  height: auto;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .submit-box > input[type='submit'] {
  width: 100%;
  height: 80px;
  font-weight: 800;
  color: #fff;
  background-color: var(--main);
  font-size: 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .submit-box > input[type='submit']:hover {
  background: rgb(15, 147, 237);
  background: linear-gradient(90deg, rgba(15, 147, 237, 1) 0%, rgba(105, 135, 231, 1) 100%);
}

/* tab3 con */
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: none;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con {
  flex: 1;
  display: flex;
  justify-content: center;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con .QR-con {
  width: 100%;
  max-width: 220px;
  height: auto;
  /* border: 1px solid; */
  padding-right: 10px;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con .timeOut-con {
  width: 100%;
  max-width: 100px;
  height: auto;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 800;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con .timeOut-con > p:nth-child(1) {
  margin-bottom: 10px;
  flex: 0 1 10px;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con .timeOut-con > p:nth-child(2) {
  color: var(--main);
  flex: 0 1 40px;
}

.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .bottom-con {
  flex: 1;
  /* border: 1px solid; */
  text-align: center;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .bottom-con .p-box {
  width: 100%;
  height: auto;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .bottom-con .p-box > p:nth-child(1) {
  margin-bottom: 10px;
}
.login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .bottom-con .p-box > p:nth-child(2) {
  font-size: 12px;
}

/* sec2 */
.login-container .login-inner-con .sections .section.sec2 {
  width: 100%;
  height: auto;
}

.login-container .login-inner-con .sections .section.sec2 .sec-con {
  width: 100%;
  max-width: 690px;
  padding: 30px 145px;
  box-sizing: border-box;
  margin: 0 auto;
}

.login-container .login-inner-con .sections .section.sec2 .sec-con > ul {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
  text-align: center;
}
.login-container .login-inner-con .sections .section.sec2 .sec-con > ul > li {
  flex: 1;
  position: relative;
}

.login-container .login-inner-con .sections .section.sec2 .sec-con > ul > li:not(:last-child)::after {
  position: absolute;
  content: '';
  display: block;
  width: 0.5px;
  height: 100%;
  background-color: var(--sub);
  top: 0;
  right: 0;
}

p.box {
  color: red;
  padding: 5px 0;
}

.tabMenuClicked {
  color: var(--point);
}

.tabContentsBlock {
  display: block !important;
}

/* 반응형 디자인 */
/* tablet 768
mobile 360 */

@media only screen and (max-width: 768px) {
  .header .inner-header {
    width: 98%;
  }

  .header .inner-header .language-box #language {
    max-width: 100px;
    padding-left: 10px;
    background-size: 20px;
  }

  .header .inner-header h1.logo {
    max-width: 120px;
  }
  /* login */

  .login-container {
    width: 98%;
    height: auto;
  }

  .login-container .login-inner-con {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .login-container .login-inner-con .sections .section.sec1 {
    width: 100%;
    height: auto;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-menu > ul > li {
    line-height: 70px;
    font-size: 16px;
  }

  /* tab-con */

  /* tab1 */
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 {
    padding: 10px 0;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .id-box > span.icon {
    max-width: 20px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .pw-box span.icon {
    max-width: 20px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  /* submit */

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .submit-box {
    padding-top: 20px;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .submit-box > input[type='submit'] {
    height: 60px;

    font-size: 20px;
  }

  /* tab2 */

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login > p {
    padding: 40px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box > input[type='number'] {
    height: 60px;
    font-size: 16px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .submit-box > input[type='submit'] {
    height: 60px;
    font-size: 20px;
  }

  /* tab3 con */
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: none;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con .QR-con {
    width: 100%;
    max-width: 220px;
    height: auto;
    /* border: 1px solid; */
    padding-right: 10px;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con .timeOut-con {
    width: 100%;
    max-width: 100px;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 800;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con .timeOut-con > p:nth-child(1) {
    margin-bottom: 10px;
    flex: 0 1 10px;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .top-con .timeOut-con > p:nth-child(2) {
    color: var(--main);
    flex: 0 1 40px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .bottom-con {
    flex: 1;
    /* border: 1px solid; */
    text-align: center;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .bottom-con .p-box {
    width: 100%;
    height: auto;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .bottom-con .p-box > p:nth-child(1) {
    margin-bottom: 10px;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 .QR-login .bottom-con .p-box > p:nth-child(2) {
    font-size: 12px;
  }

  /* sec2 */

  .login-container .login-inner-con .sections .section.sec2 .sec-con {
    padding: 30px 100px;
  }
}

@media only screen and (max-width: 360px) {
  .header .inner-header {
    width: 96%;
  }

  .header .inner-header .language-box #language {
    max-width: 100px;
    padding-left: 10px;
    background-size: 20px;
    font-size: 12px;
  }

  .header .inner-header h1.logo {
    max-width: 100px;
  }

  /* container */
  .login-container {
    width: 96%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }

  /* tab menu */

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-menu > ul > li {
    line-height: 60px;
    font-size: 14px;
    font-weight: 700;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul {
    width: 100%;
    max-width: 600px;
    height: 300px;
    position: relative;
  }

  /* sec1 con tab1 */

  /* id */
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 {
    padding: 5px 0;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con {
    margin: 20px 0;
  }
  /* 흠,,, */
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .id-box {
    padding: 10px 0;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .id-box > span.icon {
    max-width: 16px;
    padding-left: 15px;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .id-box > input {
    margin: 0 10px;
  }

  /* pw */
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .pw-box {
    padding: 10px 0;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .pw-box span.icon {
    max-width: 16px;
    padding-left: 15px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .top-box .pw-box > input {
    margin: 0 10px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 12px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .keep-box input[type='checkbox'] + label {
    display: inline-block;
    background: url(../img/common_img/login_checked_icon_sub_point_color.svg) no-repeat 50% / cover;
    width: 20px;
    height: 20px;
    border: 2px solid;
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    color: var(--sub-point2);
    transition: background 0.3s, background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .keep-box input[type='checkbox']:checked + label {
    background: url(../img/common_img/login_checked_icon_point_color.svg) no-repeat 50% / cover;
    background-color: var(--point);
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .keep-box > p {
    line-height: 20px;
    padding-left: 5px;
  }

  /* ipBox */
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box input[type='checkbox'] + label {
    width: 48px;
    height: 22px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box input[type='checkbox'] + label::after {
    width: 16px;
    height: 16px;
    margin: 2px 0;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .middle-box .ip-box input[type='checkbox']:checked + label::after {
    width: 16px;
    height: 16px;
    left: 28px;
  }

  /* submit */

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .submit-box {
    padding-top: 30px;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab1 .login-con .submit-box > input[type='submit'] {
    height: 60px;
    font-size: 18px;
  }

  /* sec1 tab2 */

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 {
    width: 100%;
    height: auto;
    text-align: center;
    display: none;
    padding: 0;
    border-radius: 10px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login > p {
    padding: 20px;
  }
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login > p > span {
    color: var(--point);
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box > input[type='number'] {
    height: 60px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .oneNumber-box > input[type='number']::placeholder {
    font-size: 18px;
  }

  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab2 .one-login .submit-box > input[type='submit'] {
    height: 60px;
    font-size: 18px;
  }
  /* sec1 tab3 */
  .login-container .login-inner-con .sections .section.sec1 .tab-container .tab-contents > ul > li.tab3 {
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff;
  }

  /* sec2 */

  .login-container .login-inner-con .sections .section.sec2 .sec-con {
    width: 100%;
    padding: 30px 0;
    font-size: 12px;
  }
}
