.join-container .inner-joinCon .sections .section.sec4 {
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.join-container .inner-joinCon .sections .section.sec4 .sec-con {
  width: 100%;
  height: auto;
}

.join-container .inner-joinCon .sections .section.sec4 .sec-con input {
  width: 100%;
  height: 70px;
  background-color: var(--main);
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s;
  margin-bottom: 40px;
}

.join-container .inner-joinCon .sections .section.sec4 .sec-con input:hover {
  background: rgb(15, 147, 237);
  background: linear-gradient(90deg, rgba(15, 147, 237, 1) 0%, rgba(105, 135, 231, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* 반응형 */
@media only screen and (max-width: 768px) {
  .join-container .inner-joinCon .sections .section.sec4 {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .join-container .inner-joinCon .sections .section.sec4 .sec-con {
    width: 100%;
    height: auto;
  }

  .join-container .inner-joinCon .sections .section.sec4 .sec-con input {
    font-size: 18px;
  }
}

@media only screen and (max-width: 360px) {
  .join-container .inner-joinCon .sections .section.sec4 {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .join-container .inner-joinCon .sections .section.sec4 .sec-con input {
    height: 60px;
    font-size: 16px;
  }
}
